<%- include('partials/header') %>
<main>
    <h3>Blog Post Name</h3> <br>
    <h4>JANUARY 30, 2020</h4>
     <article></article>       
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos voluptatum soluta non quibusdam nisi temporibus ratione eaque minima mollitia suscipit. Veritatis doloribus commodi consectetur quos similique enim id dolorem quasi maiores. Sit vero expedita necessitatibus possimus nostrum eos similique numquam nihil rem, placeat unde corrupti ad aspernatur maxime, dolore excepturi consequatur? Consequuntur laboriosam expedita commodi saepe dolore similique, in neque ex. Totam nemo natus voluptatibus pariatur ipsa laudantium, omnis tenetur!</p>
    <br><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident cum aspernatur qui animi quam repudiandae deleniti, distinctio fugit mollitia? Eos officiis asperiores similique deleniti magnam quia cum molestias, deserunt facere, laudantium aliquam animi, obcaecati suscipit voluptatum esse quisquam. Laborum exercitationem nisi facere blanditiis cumque consequuntur ex dignissimos eveniet, incidunt cupiditate itaque fuga iure odio praesentium doloribus molestiae tenetur ipsa asperiores, assumenda quia dolorem ullam ipsam. Culpa amet odit hic quisquam.</p>
    <br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat perspiciatis iure nam, obcaecati tenetur expedita inventore omnis. Saepe id perspiciatis tenetur debitis quas delectus rem, amet eos. Tempore, aperiam libero repellat obcaecati esse at odio aut labore sit eveniet consequuntur voluptatibus laboriosam fuga neque similique sequi ullam vero eaque optio repellendus nisi, repudiandae, hic architecto. Culpa distinctio iste similique voluptas voluptate accusantium corporis blanditiis veritatis reiciendis. Voluptates necessitatibus temporibus consequatur.</p>

</main>
<%- include('partials/footer') %>
